extends layout 

block content
    h1=title 
    a(href="/sushi") Go home
    if sushi
        p #{sushi.description}
        p it costs ¥#{sushi.price}
        p #{sushi.category}
        p We have #{sushi.stock} of this sushi.
        a(href=`/sushi/${sushi.id}/delete`) Delete
        a(href=`/sushi/${sushi.id}/update`) Update 

    else 
        h1 the sushi you are looking for is not here.
