extends layout 
block content 

    h1 Update #{sushi.name}
    
    form(action="", method="post" class="sushi-form")
        label(for="name") Name 
        input#name(type="text" name="name" value=sushi.name )
        label(for="description") Description 
        input#description(type="text" name="description" value=sushi.description )
        label(for="price") Price
        input#price(type="number" name="price" value=sushi.price )
        label(for="category") Category 
        input#category(type="text" name="category" value=sushi.category )
        label(for="stock") Stock
        input#stock(type="number" name="stock" value=sushi.stock)  
        button(type="submit") Submit
